*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#about{
    margin-top: 2rem;
    background-image: linear-gradient(#33ccff,  #ff99cc);
    background-repeat: no-repeat;
}
nav li {
    font-size: 1.3rem;
  }
 .img{
    width: 23rem;
    height: 23rem;
    margin-bottom: 5rem;
 } 